h1 {
  color: fuchsia;
   display: flex;
    justify-content:center;
}

body{
    background: url("http://www.nasa.gov/centers/goddard/images/content/638831main_globe_east_2048.jpg");
}

.tagsbuttons {
    display:flex;
    justify-content: space-around;
}
.heading{
    color:fuchsia;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    
}

h2{
    display: flex;
    justify-content:center;
}

#save{
    display: flex;
    justify-content:center;
}